


.signup{
  :global {
    .captcha{
      width:60% !important;
    }
    .captcha-button{
      width:40% !important;
      float:right;
    }
  }
}

.signin{

  margin-top:10px;
  padding-top: 10px;
  border-top: 1px solid #efefef;

  height: 40px;
  line-height: 40px;

  a{
    float:right;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    padding:0 20px 0 20px;
    border-radius: 3px;
    font-size: 13px;
  }

}
