
.container{
  padding-top: 10px;

}

.carousel{
  width: 400px;
  float: left;
}


.tabs_news {
    padding-left: 10px;
    width: 460px;
    float: left;
}

.leftcontainer {
    width: 400px;
    float: left;
}
